/* Landing Page formatting
Katie Osborne & Jamison Biddle
June 15, 2022
*/

/*formatting for the main body of the website t*/
html, body {
  overflow: hidden;
}
body {
  background: black;
  color: white;
}

/*Formatting for the top bar, which contains the logo*/
.logo-container {
  height: auto;
  width: auto;
  bottom: auto;
  position: relative;
}

/*The logo image*/
#logo {
  height: 100%;
  width: auto;
  position: relative;
  left: 50%;
  transform: translate(-50%, 0%);
}

/*Flex container for the title & buttons*/
.flex-container {
  height: 82vh;
  /*Use the map as the background*/
  background-image: url("../img/StoryMapImage.jpg");
  background-position: center;
  /* Center the image */
  background-repeat: no-repeat;
  /* Do not repeat the image */
  background-size: contain;
  /* Resize the background image to stay in container */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 30px;
}



/*Formatting for the title text*/
.title {
  color: rgb(68, 60, 54);
  /*text-shadow: 2px 1px 2px rgb(32, 32, 32);*/
  text-shadow: 2px 1px 6px white;
  font-weight: 600;
  font-size: 90px;
  max-width: 90%;
  text-align: center;
  margin: 0;
}

/*Credit boxes*/
.credits {
  font-size: 20px;
  position: relative;
}

/*lefthand credits*/
#Richard-Elke {
  width: 20%;
  float: left;
  text-align: left;
}

/*righthand credits*/
#Katie-Jami {
  width: 20%;
  float: right;
  text-align: right;
}

.credits-container {
  height: auto;
  width: 246.5%;
  display: flex;
  flex-direction: row;
  align-content: center;
  padding-top: .8%;
	padding-bottom: 2%;
  position: absolute;
  bottom: 0;
}

/*button formatting*/
.button {
  font-size: 22px;
  max-width: 100%;
  height: auto;
}


/*basic button formatting*/
.home:link {
  border-radius: 4px;
  padding: 12px 28px;
  background-color: rgb(231, 231, 231);
  color: #0E1116;
  font-family: Georgia, 'Times New Roman', Times, serif;
  letter-spacing: 1px;
  text-decoration: none;
  border: 1px solid rgb(35, 35, 35);
}

/*Keeps the color the same even if page is visited*/
.home:visited {
  background-color: rgb(231, 231, 231);
  color: #0E1116;
}

/*Turns button orange when hovering over*/
.home:hover {
  background-color: #C7896E;
  border: none;
  color: white;
  cursor: pointer;
  animation-fill-mode: none;
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  -o-transition: all .5s ease;
  -ms-transition: all .5s ease;
  transition: all .5s ease;
}

/*Keeps button orange when clicked*/
.home:active {
  background-color: #C7896E;
  color: white;
}

/* Warning Message for Mobile */
#mobileDetector {
  /*opacity: 0;*/
  margin: auto;
  color: white;
  background-color: rgba(0, 0, 0, 0.95);
  text-align: center;
}

/* Warning Message for Mobile */
.warning {
  display: none;
  text-align: center;
  width: fit-content;
  height: 100%;
  padding: 0 10%;
  position: absolute;
  z-index: 9999;
  font-size: 2rem;
  border: 1px solid black;
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin: 0;
}

#warningText {
  width: 100%;
  margin: 0;
}

/* Media Queries for portrait */
@media screen and (orientation:portrait) {
  .warning {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  ;
}