/* Extra small devices (480px and down) */
@media only screen and (max-width: 480px) {
  .navbar {
    padding: 0;
    padding-top: .8%;
  }

  /*nav bar option format*/
  .navbar a {
    font-size: .45em;
    width: 9%;
    padding: 0;
  }

  /* Titles for Content Sections */
  #subhead {
    font-size: 1.2rem;
  }

  /* Images in Text Box */
  .textandimg {
    font-size: .6rem;
    line-height: .8rem;
  }


  /*Large Content/Text Box */
  #txtcontainer {
    max-width: 25.5%;
    padding-top: 8%;
    padding-left: 1%;
    padding-right: 0.4%;
    padding-bottom: 3%;
    overflow-y: auto;
    overflow-x: hidden;
    font-size: .75em;
    line-height: 1.75em;
  }

  /* Main Images */
  #mainimgwrapper {
    width: 74%;
  }

  /*Container for the images*/
  .image-Container {
    width: 100%;
    height: auto;
  }

  /*all images within the container*/
  .image-Container img {
    padding-top: 17%;
  }

  /*LANDING PAGE*/

  .logo-container {
    height: 1.3em;
  }


  .flex-container {
    height: 72vh;
    line-height: 30px;
    font-size: 30px;
  }

  /*Formatting for the title text*/
  .title {
    font-size: 25.5px;
    padding-top: 2.5%;
    padding-bottom: 0;
    width: 98%;
  }

  /*button formatting*/
  .button {
    font-size: 7px;
    padding-top: .5%;
  }

  a.home {
    border-radius: 3px;
    padding: 5px 8px;
  }

  /*Credit boxes*/
  .credits {
    font-size: 8px;
    padding: 1px;
  }

  /*lefthand credits*/
  #Richard-Elke {
    width: 50%;
    float: left;
    text-align: left;
  }

  /*righthand credits*/
  #Katie-Jami {
    width: 60%;
    float: right;
    text-align: right;
  }
}

/* Small devices (width 480px-610px) */
@media only screen and (min-width: 480px) and (max-width: 610px) {
  /*Nav Bar formatting*/

  .navbar {
    padding: 0;
    padding-top: .8%;
  }

  /*nav bar option format*/
  .navbar a {
    font-size: .5em;
    width: 9%;
    padding: 0;
  }

  /* Titles for Content Sections */
  #subhead {
    font-size: 1.2rem;
  }

  /* Images in Text Box */
  .textandimg {
    font-size: .6rem;
    line-height: .8rem;
  }

  /*Large Content/Text Box */
  #txtcontainer {
    max-width: 25.5%;
    padding-top: 6%;
    padding-left: 1%;
    padding-right: 0.4%;
    padding-bottom: 3%;
    overflow-y: auto;
    overflow-x: hidden;
    font-size: .75em;
    line-height: 1.75em;
  }

  /* Main Images */
  #mainimgwrapper {
    width: 74%;
  }

  /*Container for the images*/
  .image-Container {
    width: 100%;
    height: auto;
  }

  /*all images within the container*/
  .image-Container img {
    padding-top: 17%;
  }
}

/* Small devices (portrait tablets and large phones, 610px-767px) */
@media only screen and (min-width: 610px)and (max-width: 767px) {
  /*Nav Bar formatting*/

  .navbar {
    padding: 0;
    padding-top: .8%;
  }

  /*nav bar option format*/
  .navbar a {
    font-size: .55em;
    width: 9%;
    padding: 0;
  }

  /* Titles for Content Sections */
  #subhead {
    font-size: 1.6rem;
  }

  #txtcontainer {
    font-size: .95em;
    line-height: 1.5em;
    padding-top: 9%;
  }

  /* Images in Text Box */
  .textandimg {
    font-size: .6rem;
    line-height: .85rem;
  }


  /*all images within the container*/
  .image-Container img {
    /*Increased padding*/
    padding-top: 12.5%;
  }

}

/* Medium devices (landscape tablets, 767px-991px) */
@media only screen and (min-width: 767px)and (max-width: 991px) {
  /*Nav Bar formatting*/

  .navbar {
    padding: 0;
    padding-top: .8%;
  }

  /*nav bar option format*/
  .navbar a {
    font-size: .7em;
    width: 9%;
    padding: 0;
  }

  /* Titles for Content Sections */
  #subhead {
    font-size: 2.1rem;
  }

  #txtcontainer {
    font-size: 1.25em;
    line-height: 1.6em;
    padding-top: 10%;
  }

  /* Images in Text Box */
  .textandimg {
    font-size: .8rem;
    line-height: 1.1rem;
  }

}

/* Large devices (laptops/desktops, 991px-1250px) */
@media only screen and (min-width: 991px) and (max-width: 1250px) {
  /*Nav Bar formatting*/

  .navbar {
    padding: 0;
    padding-top: .6%;
  }

  /*nav bar option format*/
  .navbar a {
    font-size: .85em;
    width: 9%;
    padding: 0;
  }

  /* Titles for Content Sections */
  #subhead {
    font-size: 2.1rem;
  }

  #txtcontainer {
    font-size: 1.35em;
    line-height: 1.7em;
    padding-top: 10%;
  }

  /* Images in Text Box */
  .textandimg {
    font-size: .9rem;
    line-height: 1.35rem;
  }


  /*all images within the container*/
  .image-Container img {
    /*Increased padding*/
    padding-top: 15%;
  }


}

/* Extra large devices (large laptops and desktops, 1250px-3000px) */
@media only screen and (min-width: 1250px) and (max-width: 3000px) {
  #txtcontainer {
    font-size: 1.5em;
    padding-top: 11%;
  }

  /*Nav Bar formatting*/

  .navbar {
    padding: 0;
    padding-top: .7%;
  }

  /*nav bar option format*/
  .navbar a {
    font-size: 1.15em;
    width: 9%;
    padding: 0;
  }

  /*all images within the container*/
  .image-Container img {
    /*Increased padding*/
    padding-top: 15%;
    width: 100%;
    height: 100%;
  }
}